nav {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
  }
  
  nav a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #555;
  }
  nav li.active a {
    background-color: #555;
  }

h2 .current-show{
  text-align: center;
  
}

.userName{
  font-size: 100px;
}



