{% extends "base1.html" %}

{% block content %}

<h2 class="text-center">Language List<a href="addMovieLanguage" class="btn btn-dark">Add Movie Language</a></h2>

<table class="table table-bordered">
    <tr class="bg-dark text-white" >
        <td>ID</td>
        <td>Language Name</td>
        <td>Language Description</td>
        <td>Action</td>
        
        
        
    </tr>

    {% for rec in languageData %}

    <tr>
        <td>{{rec.id}}</td>
        <td>{{rec.language_name}}</td>
        <td>{{rec.language_des}}</td>
       
        <td><a href="viewUser{{rec.id}}">view</a> / <a href="" data-toggle="modal" data-target="#deleteUser">Delete</a></td>
       
    </tr>

    {% endfor %}
</table>






{% endblock %}