{% extends "base1.html" %}

{% block content %}

<h2 class="text-center">Category List<a href="addMovieType" class="btn btn-dark">Add Movie Category</a></h2>

<table class="table table-bordered">
    <tr class="bg-dark text-white" >
        <td>ID</td>
        <td>Category Name</td>
        <td>Category Description</td>
        <td>Action</td>
        
        
        
    </tr>

    {% for rec in categoryData %}

    <tr>
        <td>{{rec.id}}</td>
        <td>{{rec.type_name}}</td>
        <td>{{rec.type_des}}</td>
       
        <td><a href="viewUser{{rec.id}}">view</a> / <a href="" data-toggle="modal" data-target="#deleteUser">Delete</a></td>
       
    </tr>

    {% endfor %}
</table>






{% endblock %}