{% extends 'templates/base.html' %} {% block content %} {% load static %} <link
rel="stylesheet" href={% static 'css/myTickets.css'%}> 
{%for ticket in ticketInfo%}
<div class="container">
    <div class="container__title">
        <div class="title">{{ ticket.movie_title }}</div>
        <!-- <p>Movie name:{{ ticket.movie_title }}</p> -->
        <!-- <p>Movie showtime: {{ ticket.movie_showtime }}</p> -->
        <div>{{ticket.movie_date}}</div>
        <div>Seat number: {{ticket.seat_number}}</div>
    </div>
  <img
    src="/static/img/barcodes/{{ticket.ticket_id}}.png"
    width="450"
    height="250"
  />
</div>
{% endfor %} {%endblock%}

<!-- <p>Ticket id:{{ ticket.ticket_id }}</p>
<p>Movie name:{{ ticket.movie_title }}</p>
<p>Movie showtime: {{ ticket.movie_showtime }}</p>
<p>Movie Date: {{ticket.movie_date}}</p>
<p>Seat number:{{ticket.seat_number}}</p>
<img
  src="/static/img/barcodes/{{ticket.ticket_id}}.png"
  width="450"
  height="250"
/>
<br /> -->
