{% extends 'templates/base.html' %} {% block content %} {% load static %}
{% csrf_token %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src={% static 'js/scripts.js' %}></script>
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>

<div class="seatView">
  <div class="seatView__box">
    <div class="screen">
      <img src={% static 'img/movie-theater.jpg'%} height="100px" width="100%"
      alt="movie-theater">
    </div>
    <div class="row">
      <div class="seat" data-value='1'></div>
      <div class="seat" data-value='2'></div>
      <div class="seat" data-value='3'></div>
      <div class="seat" data-value='4'></div>
      <div class="seat" data-value='5'></div>
      <div class="seat" data-value='6'></div>
      <div class="seat" data-value='7'></div>
      <div class="seat" data-value='8'></div>
      <div class="seat" data-value='9'></div>
      <div class="seat" data-value='10'></div>
      <div class="seat" data-value='11'></div>
    </div>
    <div class="row">
      <div class="seat" data-value='11'></div>
      <div class="seat" data-value='12'></div>
      <div class="seat" data-value='13'></div>
      <div class="seat" data-value='14'></div>
      <div class="seat" data-value='15'></div>
      <div class="seat" data-value='16'></div>
      <div class="seat" data-value='17'></div>
      <div class="seat" data-value='18'></div>
      <div class="seat" data-value='19'></div>
      <div class="seat" data-value='20'></div>
    </div>
    <div class="row">
      <div class="seat" data-value='21'></div>
      <div class="seat"data-value='22'></div>
      <div class="seat"data-value='23'></div>
      <div class="seat"data-value='24'></div>
      <div class="seat "data-value='25'></div>
      <div class="seat"data-value='26'></div>
      <div class="seat"data-value='27'></div>
      <div class="seat"data-value='28'></div>
      <div class="seat"data-value='29'></div>
      <div class="seat"data-value='30'></div>
    </div>
    <div class="row">
      <div class="seat"data-value='31'></div>
      <div class="seat"data-value='32'></div>
      <div class="seat"data-value='33'></div>
      <div class="seat"data-value='34'></div>
      <div class="seat"data-value='35'></div>
      <div class="seat"data-value='36'></div>
      <div class="seat"data-value='37'></div>
      <div class="seat"data-value='38'></div>
      <div class="seat "data-value='39'></div>
      <div class="seat "data-value='40'></div>
    </div>
    <div class="row">
      <div class="seat "data-value='41'></div>
      <div class="seat "data-value='42'></div>
      <div class="seat"data-value='43'></div>
      <div class="seat"data-value='44'></div>
      <div class="seat"data-value='45'></div>
      <div class="seat"data-value='46'></div>
      <div class="seat"data-value='47'></div>
      <div class="seat"data-value='48'></div>
      <div class="seat"data-value='49'></div>
      <div class="seat"data-value='50'></div>
    </div>
  </div>

</br>
  <ul class="info">
    <li>
      <div style="background-color: #faeb47;height:18px;width:18px;margin:3px;border-radius: 5px;"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat"></div>
      <small>Reserved</small>
    </li>
    <li>
      <div style="background-color: white;height:18px;width:18px;margin:3px;border-radius: 5px;"></div>
      <small>Booked</small>
    </li>
  </ul>

  <p class="text" style="color: white">
    <div style="color:white">Total number of seats selected &nbsp;<span id="count"> </span> </div>
    <br />
    <div style="color:white">here is the price: &nbsp; Rs.</span> <span id="amount"></div>
        <div style="color:white">your points: {{ user.reward_point }}</div>
  </p>
  <a id="buyTicket" ><button onclick='postSeat()' id="bookTicket"> Buy Ticket</button></a>
  {% if user.reward_point > 100 %}
  <hr/> <button onclick='loyaltyTicket()''>Buy ticket with reward point</button>>
  {% endif %}
</div>

{% endblock %}
