{% extends 'templates/base.html' %}

{% block content %}

{% load static %}

<style type="text/css">
    *{
      margin:0;
      padding:0;
      font-family:cursive;
      box-sizing:border-box;

    }

    .flex-container{
        width:100%;
        height:auto;
        display:flex;
        flex-direction:row;
        flex-warp:wrap;
        justify-content:center;
    }
    .flex-box{
        width:50px;
        height:50px;
        background:black;
        color:white;
        text-align:center;
        line-height:50px;
        border-radius:5px;
        margin:10px;
        

    }
    h1{
        text-align:center;
    }
   

</style>
<h1>SCREEN</h1>
<div class="flex-container">
    
    <div class="flex-box">
        1
    </div>

    <div class="flex-box">
        2
    </div>

    <div class="flex-box">
        3
    </div>

    <div class="flex-box">
        4
    </div>
    <div class="flex-box">
        5
    </div>
    <div class="flex-box">
        6
    </div>
    <div class="flex-box">
        7
    </div>
    <div class="flex-box">
        8
    </div>
    <div class="flex-box">
        9
    </div>
    <div class="flex-box">
        10
    </div>
    <div class="flex-box">
        11
    </div>
    <div class="flex-box">
        12
    </div>

</div>



<div class="flex-container">
    <div class="flex-box">
        1
    </div>

    <div class="flex-box">
        2
    </div>

    <div class="flex-box">
        3
    </div>

    <div class="flex-box">
        4
    </div>
    <div class="flex-box">
        5
    </div>
    <div class="flex-box">
        6
    </div>
    <div class="flex-box">
        7
    </div>
    <div class="flex-box">
        8
    </div>
    <div class="flex-box">
        9
    </div>
    <div class="flex-box">
        10
    </div>
    <div class="flex-box">
        11
    </div>
    <div class="flex-box">
        12
    </div>

</div>

<div class="flex-container">
    <div class="flex-box">
        1
    </div>

    <div class="flex-box">
        2
    </div>

    <div class="flex-box">
        3
    </div>

    <div class="flex-box">
        4
    </div>
    <div class="flex-box">
        5
    </div>
    <div class="flex-box">
        6
    </div>
    <div class="flex-box">
        7
    </div>
    <div class="flex-box">
        8
    </div>
    <div class="flex-box">
        9
    </div>
    <div class="flex-box">
        10
    </div>
    <div class="flex-box">
        11
    </div>
    <div class="flex-box">
        12
    </div>

</div>
<div class="flex-container">
    <div class="flex-box">
        1
    </div>

    <div class="flex-box">
        2
    </div>

    <div class="flex-box">
        3
    </div>

    <div class="flex-box">
        4
    </div>
    <div class="flex-box">
        5
    </div>
    <div class="flex-box">
        6
    </div>
    <div class="flex-box">
        7
    </div>
    <div class="flex-box">
        8
    </div>
    <div class="flex-box">
        9
    </div>
    <div class="flex-box">
        10
    </div>
    <div class="flex-box">
        11
    </div>
    <div class="flex-box">
        12
    </div>

</div>
<div class="flex-container">
    <div class="flex-box">
        1
    </div>

    <div class="flex-box">
        2
    </div>

    <div class="flex-box">
        3
    </div>

    <div class="flex-box">
        4
    </div>
    <div class="flex-box">
        5
    </div>
    <div class="flex-box">
        6
    </div>
    <div class="flex-box">
        7
    </div>
    <div class="flex-box">
        8
    </div>
    <div class="flex-box">
        9
    </div>
    <div class="flex-box">
        10
    </div>
    <div class="flex-box">
        11
    </div>
    <div class="flex-box">
        12
    </div>

</div>

{% endblock %}