{% load static %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<footer>
    <div class="container">
      <div class="footer-content">
        <div class="about-company">
          <h3>About Us</h3>
          <p><b>This application provides the best service for booking movie tickets online for the movie lovers. Customers can collect the 5 rewards points on every booking.</b></p>
        </div>
        <div class="social-links">
          <a href="https://www.facebook.com/razan.mandal" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/razanmandal2018/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <p>&copy; 2023 MTBS. All rights reserved.</p>
    </div>
  </footer>
  
<style>

    footer {
        background-color: #f2f2f2;
        padding: 20px 0;
        text-align: center;
      }
      
      .container {
        max-width: 960px;
        margin: 0 auto;
      }
      
      .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      
      .about-company {
        flex: 1 1 300px;
        text-align: left;
        font-family:Sans-serif;
      }
      
      .social-links {
        flex: 1 1 200px;
        text-align: right;
      }
      
      .about-company h3 {
        margin: 10px 0;
      }
      
      .about-company p {
        margin: 0;
      }
      
      .social-links a {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #333;
        color: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        margin: 0 5px;
        transition: background-color 0.3s ease;
      }
      
      .social-links a:hover {
        background-color: #555;
      }
</style>
